{% extends 'days/template.html' %} {% block heading %}Candy Machine{% endblock
%} {% block day_content %}
<p>
  Welcome to the first door! It's now December, and so it is time for your first
  Python challenge in this advent calendar. Your task is below:
</p>
<p>
  Today, I would like you to write a Candy Machine program in Python. It
  <strong>should</strong> do the following:
  <ul>
      <li>
          <p>Display three of these symbols at random: 🎅🏻 🍩 🍪 🍫 👿</p>
      </li>
      <li>
        <p></p>
      </li>
  </ul>
</p>
{% endblock %}
