{% extends 'days/template.html' %} {% block heading %}Candy Machine{% endblock
%} {% block day_content %}
<p>
  Welcome to the first door! It's now December, and so it is time for your first
  Python challenge in this advent calendar. Your task is below:
</p>
<p>
  Today, I would like you to write a Candy Machine program in Python. It
  <strong>should</strong> do the following:</p>
  <ul>
      <li>
          <p>Display three of these symbols at random: 🎅🏻 🍩 🍪 🍫 👿</p>
      </li>
      <li>
        <p>The player should start with £1, and each go should cost 12p.<em>For none British people, there are 100p in £1</em></p>
      </li>
      <li>
          <p>If two of the same symbol are rolled, the player wins 50p. The player wins £1 for three of the same candy and £5 for three Santas. The player loses £1 if two Grinch's(devils) are rolled. If three Grinch's are rolled, then they lose all of their money.</p>
      </li>
      <li>
          <p>The player can choose to quit with the winnings after each roll or keep playing until there is no money left.</p>
      </li>
  </ul>
  <p>However, you <strong>could</strong> add the following:</p>
  <ul>
      <li><p>Change the currency/game to be more Christmas themed.</p></li>
      <li><p>Add a reward if the player gets a certain amount of money.</p></li>
      <li><p>Be unique! Instead of just using an unstyled Terminal window, make your program as a website, app or style the Terminal using the curses module. Or, just add colour, animation and clearing the screen!</p></li>
  </ul>
{% endblock %}
