{% extends 'days/template.html' %} {% block heading %}T-BAG{% endblock %} {% block day_content %}
<p>
	Welcome to the tenth door! It's now Friday 10th December, and so it is time for your tenth Python challenge in this advent
	calendar. Your task is below:
</p>
<p>
	Santa doesn't have many games. Your job is to make a text-based adventure game(T-BAG). There is no other brief. Just create
	a fun T-BAG.<br />
  Your program <strong>should</strong> do the following:
</p>
<ul>
  <li>
    <p>
        Use text-based input. No images, videos or buttons.
    </p>
  </li>
  <li>
      <p>Have a good story</p>
  </li>
</ul>
<p>However, you <strong>could</strong> add the following:</p>
<ul>
  <li><p>Change the program to be more Christmas themed.</p></li>
  <li>
    <p>
      Be unique! Instead of just using an unstyled Terminal window, make your
      program as a website, app or style the Terminal using the curses module.
      Or, just add colour, animation and clearing the screen!
    </p>
  </li>
</ul>
{% endblock %}