{% extends 'days/template.html' %} {% block heading %}Security{% endblock %} {% block day_content %}
<p>
	Welcome to the fourteenth door! It's now Tuesday 14th December, and so it is time for your fourteenth Python challenge in this
	advent calendar. Your task is below:
</p>
<p>
	Yesterday, you created a way to work out what presents kids get. Today, you are going to be securing that information so that nobody else can find it. Santa wants to use a secret password that will decrypt/allow access to the information.
    <br />
  Your program <strong>should</strong> do the following:
</p>
<ul>
  <li>
    <p>
        Allow the use of a secret password(<code>ElfandSafetyAppr0ved!</code>)
    </p>
  </li>
</ul>
<p>However, you <strong>could</strong> add the following:</p>
<ul>
  <li><p>Allow modification of data.</p></li>
  <li>
    <p>
      Be unique! Instead of just using an unstyled Terminal window, make your
      program as a website, app or style the Terminal using the curses module.
      Or, just add colour, animation and clearing the screen!
    </p>
  </li>
</ul>
{% endblock %}