{% extends 'days/template.html' %} {% block heading %}Quiz{% endblock %} {% block day_content %}
<p>
	Welcome to the fifteenth door! It's now Wednesday 15th December, and so it is time for your fifteenth Python challenge in this
	advent calendar. Your task is below:
</p>
<p>
	It's time for a new game! Or rather, a way of making games. Your task is to make a program that lets the user input questions and then save it to a file. The program should also have a menu where you can choose from the following: view quizzes, play quizzes or create quizzes.
    <br />
  Your program <strong>should</strong> do the following:
</p>
<ul>
  <li>
    <p>
        Allow Santa and the elves to create quizzes and save them to a separate file.
    </p>
  </li>
    <li>
        <p>
            Allow saved quizzes to be easily loaded.
        </p>
    </li>
</ul>
<p>However, you <strong>could</strong> add the following:</p>
<ul>
  <li>
      <p>
          Add an option to modify quizzes
      </p>
  </li>
  <li>
    <p>
      Be unique! Instead of just using an unstyled Terminal window, make your
      program as a website, app or style the Terminal using the curses module.
      Or, just add colour, animation and clearing the screen!
    </p>
  </li>
</ul>
{% endblock %}