{% extends 'days/template.html' %} {% block heading %}Tic Tac Toe{% endblock %} {% block day_content %}
<p>
	Welcome to the sixteenth door! It's now Thursday 16th December, and so it is time for your sixteenth Python challenge in this
	advent calendar. Your task is below:
</p>
<p>
	It's time for another game! Just make a fun, simple tic tac toe game.
    <br />
  Your program <strong>should</strong> do the following:
</p>
<ul>
  <li>
    <p>
        Allow two people to play
    </p>
  </li>
    <li>
        <p>Detect winners automatically</p>
    </li>
</ul>
<p>However, you <strong>could</strong> add the following:</p>
<ul>
  <li>
      <p>
          Add an AI to beat
      </p>
  </li>
  <li>
    <p>
      Be unique! Instead of just using an unstyled Terminal window, make your
      program as a website, app or style the Terminal using the curses module.
      Or, just add colour, animation and clearing the screen!
    </p>
  </li>
</ul>
{% endblock %}