{% extends 'days/template.html' %} {% block heading %}Entertainment{% endblock %} {% block day_content %}
<p>
	Welcome to the seventeenth door! It's now Friday 17th December, and so it is time for your seventeenth Python challenge in this
	advent calendar. Your task is below:
</p>
<p>
	Elves are getting bored working all the time in preparation for the big day. Your task is to make a way for the elves to relax or have fun
    <br />
  Your program <strong>should</strong> do the following:
</p>
<ul>
    <li>
        <p>Let people have fun!</p>
    </li>
</ul>
<p>However, you <strong>could</strong> add the following:</p>
<ul>
    <li>
        <p>Not really any suggestions here. Just do whatever you think is good.</p>
    </li>
  <li>
    <p>
      Be unique! Instead of just using an unstyled Terminal window, make your
      program as a website, app or style the Terminal using the curses module.
      Or, just add colour, animation and clearing the screen!
    </p>
  </li>
</ul>
{% endblock %}