{% extends 'days/template.html' %} {% block heading %}Map{% endblock %} {% block day_content %}
<p>
	Welcome to the twentieth door! It's now Monday 20th December, and so it is time for your twentieth Python challenge in this
	advent calendar. Your task is below:
</p>
<p>
    Today Santa needs a route around the world. Let him add different addresses into the program and it work out the best route between them. You could use an API for this.
    <br />
  Your program <strong>should</strong> do the following:
</p>
<ul>
    <li>
        <p>Respond accurately</p>
    </li>
    <li>
        <p>Work the same multiple times.</p>
    </li>
</ul>
<p>However, you <strong>could</strong> add the following:</p>
<ul>
    <li>
        <p>Make it have a nice UI and UX</p>
    </li>
    <li>
        <p>Save the data to a file and open it when the program restarts.</p>
    </li>
  <li>
    <p>
      Be unique! Instead of just using an unstyled Terminal window, make your
      program as a website, app, voice assistant or style the Terminal using the curses module.
      Or, just add colour, animation and clearing the screen!
    </p>
  </li>
</ul>
{% endblock %}