{% extends 'days/template.html' %} {% block heading %}Santa-tainment{% endblock %} {% block day_content %}
<p>
	Welcome to the twenty-first door! It's now Tuesday 21st December, and so it is time for your twenty-first Python challenge in this
	advent calendar. Your task is below:
</p>
<p>
    Everythings almost ready for the big day. You should now create a way for Santa to entertain himself as he's flying across the world. This should be different to what you created for day 17.
    <br />
  Your program <strong>should</strong> do the following:
</p>
<ul>
    <li>
        <p>Be entertaining</p>
    </li>
</ul>
<p>However, you <strong>could</strong> add the following:</p>
<ul>
    <li>
        <p>Make it have a nice UI and UX</p>
    </li>
    <li>
        <p>Save the data to a file and open it when the program restarts if it uses data.</p>
    </li>
  <li>
    <p>
      Be unique! Instead of just using an unstyled Terminal window, make your
      program as a website, app, voice assistant or style the Terminal using the curses module.
      Or, just add colour, animation and clearing the screen!
    </p>
  </li>
</ul>
{% endblock %}