{% extends 'days/template.html' %} {% block heading %}Combinement{% endblock %} {% block day_content %}
<p>
	Welcome to the twenty-second door! It's now Wednesday 22nd December, and so it is time for your twenty-second Python challenge in this
	advent calendar. Your task is below:
</p>
<p>
    Today you need to combine all of your previous projects into one place. It should be easy to use, easy to tell what the projects are and they should have project numbers.
    <br />
  Your program <strong>should</strong> do the following:
</p>
<ul>
    <li>
        <p>List all the projects</p>
    </li>
    <li>
        <p>
            When clicking a project, it will take you to it.
        </p>
    </li>
</ul>
<p>However, you <strong>could</strong> add the following:</p>
<ul>
    <li>
        <p>Make it have a nice UI and UX</p>
    </li>
  <li>
    <p>
      Be unique! Instead of just using an unstyled Terminal window, make your
      program as a website, app, voice assistant or style the Terminal using the curses module.
      Or, just add colour, animation and clearing the screen!
    </p>
  </li>
</ul>
{% endblock %}