{% extends 'days/template.html' %} {% block heading %}Quiz{% endblock %} {% block day_content %}
<p>
	Welcome to the twenty-third door! It's now Wednesday 23rd December, and so it is time for your twenty-third(penultimate) Python challenge in this
	advent calendar. Your task is below:
</p>
<p>
    Today Santa would like you to make a quiz of your favourite book or film series. He doesn't tell you anything else, just to make a quiz and add it to the catalogue you created yesterday.
    <br />
  Your program <strong>should</strong> do the following:
</p>
<ul>
    <li>
        <p>Be fun</p>
    </li>
    <li>
        <p>
            Be accurate
        </p>
    </li>
</ul>
<p>However, you <strong>could</strong> add the following:</p>
<ul>
  <li>
    <p>
      Be unique! Instead of just using an unstyled Terminal window, make your
      program as a website, app, voice assistant or style the Terminal using the curses module.
      Or, just add colour, animation and clearing the screen!
    </p>
  </li>
</ul>
{% endblock %}