{% extends 'days/template.html' %} {% block heading %}Portfolio{% endblock %} {% block day_content %}
<p>
	Welcome to the twenty-fourth door! It's now Friday 24th December, and so it is time for your final Python challenge in this
	advent calendar. Your task is below:
</p>
<p>
    Santa is impressed with you. You've created projects to help him and the elves, keep them entertained and everything is now ready for the big night. Your final job is to create a portfolio. This should expand the challenge on day 22 and have information about you, your socials etc because Santa would like to hire you! Impress him one last time with your awesome programming skills with a Christmassy portfolio
    <br />
  Your program <strong>should</strong> do the following:
</p>
<ul>
    <li>
        <p>Be responsive</p>
    </li>
    <li>
        <p>Impress Santa</p>
    </li>
</ul>
<p>However, you <strong>could</strong> add the following:</p>
<ul>
    <li>
        <p>Challenge yourself! If you've made Terminal applications for the entirety of this advent calendar, make a website or GUI application. Do something you've not done before or don't do very often.</p>
    </li>
    <li>
        <p>Make it have a nice UI and UX</p>
    </li>
    <li>
    <p>
      Be unique! Instead of just using an unstyled Terminal window, make your
      program as a website, app, voice assistant or style the Terminal using the curses module.
      Or, just add colour, animation and clearing the screen!
    </p>
  </li>
</ul>
{% endblock %}