{% extends 'days/template.html' %} {% block heading %}How long until Christmas{% endblock
%} {% block day_content %}
<p>
  Welcome to the fourth door! It's now Saturday 4th December, and so it is time
  for your fourth Python challenge in this advent calendar. Your task is below:
</p>
<p>
  Children are waiting for Christmas! They want to have a program to tell them how far away it is so they don't need to count! Create a porgram that does this using the Python datetime module<br />
  Your program <strong>should</strong> do the following:
</p>
<ul>
  <li>
    <p>
      Tell the user how long it is until Christmas
    </p>
  </li>
</ul>
<p>However, you <strong>could</strong> add the following:</p>
<ul>
  <li><p>Change the program to be more Christmas themed.</p></li>
  <li>
    <p>
      Be unique! Instead of just using an unstyled Terminal window, make your
      program as a website, app or style the Terminal using the curses module.
      Or, just add colour, animation and clearing the screen!
    </p>
  </li>
</ul>
{% endblock %}
