{% extends 'days/template.html' %} {% block heading %}2 Fiddy{% endblock %} {% block day_content %}
<p>
	Welcome to the ninth door! It's now Thursday 9th December, and so it is time for your ninth Python challenge in this advent
	calendar. Your task is below:
</p>
<p>
	Money. It's possible to make £2.50 with 1x£1, 2x50p, 1x5p and 3x1p. Make a program that takes a given amount and lists all
	the possible coin combinations to make that amount.
	<br /><br />
  Your program <strong>should</strong> do the following:
</p>
<ul>
  <li>
    <p>
        Allow the user to enter an amount of money and accurately list ALL of the combinations using real coins(1p, 2p, 5p, 10p, 20p, 50p, £1, £2)
    </p>
  </li>
</ul>
<p>However, you <strong>could</strong> add the following:</p>
<ul>
  <li>
      <p>Use notes as well as coins (£5, £10, £20, £50, £100, £200, £300, £500, £1000)</p>
  </li>
  <li>
    <p>
      Be unique! Instead of just using an unstyled Terminal window, make your
      program as a website, app or style the Terminal using the curses module.
      Or, just add colour, animation and clearing the screen!
    </p>
  </li>
</ul>
{% endblock %}