{% extends 'base.html' %} {% block title %}Day {{day}}{% endblock %} {% block content %}
<h2 class="christmas" onclick="playSong()">Day {{day}}</h2>

<div class="card">
	<h4>{% block heading %}{% endblock %} Challenge</h4>
	{% block day_content %}{% endblock %} {% if user_id %}
	<p>Please fill in the form below and click send to contact me!</p>
	<form method="POST" action="/contact-sent">
		<label for="name"
      >Username:
      <input
        class="center"
        type="text"
        name="s-name"
        value="{{user_name}}"
        readonly
      />
    </label>
    <label for="id"
      >User ID:
      <input
        class="center"
        type="text"
        name="s-id"
        value="{{user_id}}"
        readonly
      />
    </label>
    <label for="email"
      >Email(Gallery of submissions):
      <input
        class="center"
        type="email"
        name="email"
        placeholder="{{user_name}}@gmail.com"
      />
    </label>
    <label for="subject"
      >
      <input
        class="center"
        type="text"
        name="subject"
        value="Day {{day}} {{user_name}}'s Submission"
        hidden
      />
    </label>
    <label for="link">Submission(repl): 
      <input
        class="center"
        type="link"
        name="link"
        placeholder="https://repl.it/@{{user_name}}/{day}}"
        required
      />
    </label>
    <label for="message"
      >Want to add a message?
      <textarea class="center" name="message"></textarea>
    </label>
    <label for="email-confirmation">
      <input type="checkbox" name="email-confirmation" required />
      If I have entered my email address, I agree to be emailed a copy of the
      newsletter at the end of December - beginning of January. I also agree
      that my email address will not be seen by anyone other than DillonB07 and
      that it will be kept secure.
    </label>
    <label for='gallery-confirmation'>
        <input type='checkbox' name='gallery-confirmation'>By checking this box, I agree to my project being shared in the gallery when December is over. I also agree to it being used in the newsletter that will be sent out to some submitters or shared on a GitHub repository.
    <label for="robot">
      <div
        name="robot"
        class="g-recaptcha center"
        data-sitekey="6Lc_JWwdAAAAAPK7ibCAw2-p-kIju_YNhuW7Xq94"
      ></div>
    </label>

    <input class="candy" id="submit" type="submit" value="Submit" />
  </form>
  {% else %}
  <h4>Please sign in to submit your program.</h4>
  <script
    authed="location.reload()"
    src="{{url_for('static', filename='js/repl-auth.js')}}"
  ></script>
  {% endif %}
</div>
<a class="candy" href="/calendar">Calendar</a>

{% endblock %}